body{
    font-family: 'Markazi Text', serif;
    background-color: wheat;
}
h1{
    margin:0;
    color: green;
    margin: .5rem;
}
form{
    text-align: center;
    box-sizing: border-box;
}
input[type=text]{
    width:60%;
    padding: 1rem .15rem;
    border-radius: .25rem;
    margin: .5rem .5rem;
    border: .15rem solid ghostwhite;
}
input[type=submit]{
    background-color: green;
    border-radius: .25rem;
    color: white;
    padding: 1rem .5rem;
    border: .15rem solid grey;
    width: 60%;
}
#regs{
    background-color: green;
    border-radius: .25rem;
    color: white;
    padding: 1.25rem .05rem;
    border: none;
    margin: 1rem 1rem;
    width: 50%;
    text-align: center;
}
.delete{
    background-color:wheat;
    width:18px;
    height:18px;
    border-radius: .15rem;
    border:none;
    margin: 2px;
}
#fav{
    background-color: palevioletred;
    border-radius: .15rem;
    border:none;
    margin:2px;
}
#mess{
    font-size: 5vw;
    text-align: center;
}
.small{
    text-align: center;
}
header{
    background-image: url(pratt.jpg);
    background-size: contain;
    height: 15vw;
    margin: 0;
    border: .5rem 
}
.movie_element{
    font-family: 'Markazi Text', serif;
    font-size: 20px;
    color: purple;
}
.name_element{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(17, 146, 5);
    font-size: 20px;
}
#movie_name{
    color:orchid;
}
#chris_name{
    color:saddlebrown;
}
#favChris{
    color: navy;
}
#movieForm{
    margin: 1rem;
}