body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: goldenrod;
}
h2,h3{
    color: rgb(13, 122, 150);
}
.movie_element{
    color: purple;
}
.name_element{
    color: rgb(17, 146, 5);
}